/* Heading */
h1 {
  color: orangered;
  font-size: 45px;
}

/* 3*3 Grid */
#b1, #b2, #b3, #b4, #b5,
#b6, #b7, #b8, #b9 {
  width: 80px;
  height: 80px;
  margin: -10px -4px;
  border: 4px solid rgb(15, 14, 14);
  font-size: 40px;
  text-align: center;
  cursor: pointer;
}

/* Reset Button */
#but {
  box-sizing: border-box;
  width: 95px;
  height: 40px;
  border: 5px solid dodgerblue;
  margin: auto;
  border-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: dodgerblue;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#but:hover {
  background-color: #fff;
  color: dodgerblue;
  border: 0;
  font-style: italic;
  text-transform: lowercase;
  font-family: serif;
}

#but:active {
  background-color: silver;
}

/* Winner space */
#print {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(13, 150, 54);
  font-size: 40px;
}

/* Main Container */
#main {
  text-align: center;
}

/* Game Instruction Text */
#ins {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: dodgerblue;
  font-size: 17px;
}
